<div class="error">
  <div class="container d-flex justify-content-center flex-column">
    <div class="text-center">
      <h4>N° de guía no encontrado</h4>
    </div>
    <br>
    <div class="text-center mt-5">
      <%= link_to 'Nueva consulta', root_path, class: 'btn btn-primary btn-md text-white' %>
    </div>
  </div>
</div>